* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.project-component-flex,
.project-component-wrapper {
  height: 100%;
}

.project-component-wrapper {
  padding: 20px;
  padding-top: 0;
}

.project-navigation-box {
  height: 10%;
}

.project-detail-box {
  height: 10%;
}
.project-tab-box {
  height: fit-content;
  padding-top: 8px;
  width: 100%;
}

.project-section-box {
  height: 65%;
  width: 100%;
  overflow: auto;
  margin: 0 10px;
  margin-bottom: 10px;
}
