* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-bar-wrapper {
  background-color: #fff;
  height: 100%;
}

.bar-container {
  padding: 10px;
  gap: 10px;
}

.logo-container {
  height: 100%;
  width: 30%;
}

.company-name-container {
  width: 65%;
  font-weight: 800;
}

.user-profile-container {
  gap: 10px;
}

.box1 {
  width: 12%;
  height: 100%;
}

.box2 {
  width: 70%;
}

.box3 {
  width: 13%;
}
