* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 80%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box .input-box {
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid;
}

.heading h1 {
  font-size: x-large;
}

.heading {
  margin: 20px;
}

.box2 button {
  width: fit-content;
}

.project-save-button {
  margin: 20px;
  width: fit-content;
}

.project-save-button button {
  padding: 10px;
}

.box3 select {
  width: 35%;
}
