.crud-table-container {
  width: 100%;
}

.crud-table {
  width: 98%;
  border-collapse: collapse;
}

.crud-table th,
.crud-table td {
  padding: 5px;
  text-align: left;
  border: 1px solid #ddd;
}

.crud-table th {
  background-color: #f2f2f2;
  text-transform: capitalize;
}

.crud-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.crud-table tfoot {
  background-color: #f2f2f2;
}

.column-names {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.column-names span {
  flex: 1;
  text-align: center;
}

.column-names span:not(:last-child) {
  border-right: 1px solid #ddd;
}

.crud-table tfoot td {
  text-align: center;
}

.crud-table tfoot button {
  padding: 4px 16px;
  background-color: #9fa2a5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.crud-table tfoot button:hover {
  background-color: #636668;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/* Adjust column names width */
.crud-table-container .column-names span {
  width: calc(100% / (var(--column-count) + 1));
}

.action-cell {
  display: flex;
  padding: 0 7px;
  gap: 16px;
}
