* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.layout-wrapper {
  background-color: #f5f6f8;
  width: 100vw;
  height: 100vh;
}

.sidebar-container {
  width: 18%;
}

.content-container {
  width: 80%;
  background-color: #fff;
  height: 90vh;
}

.top-bar-container {
  height: 12vh;
  width: 100vw;
}

.main-content-wrapper {
  width: 100vw;
  height: 95vh;
}
