/* NavigationTab.css */

.navigation-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tab-item {
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 10px;
  border: none; /* Remove default border */
  color: #333; /* Set default text color */
  font-weight: bold; /* Make text bold */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.tab-item:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
}

.tab-item.active {
  border-bottom: 2px solid #007bff; /* Add bottom border for active tab */
  color: #007bff; /* Change text color for active tab */
}

.tab-content {
  margin-top: 10px;
}
