* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.project-component-flex,
.project-component-wrapper {
  height: 100%;
}

.project-component-wrapper {
  padding: 20px;
  padding-top: 0;
}

.project-tab-box {
  height: fit-content;
  padding-top: 8px;
  width: 100%;
}

.project-section-box {
  height: 65%;
  width: 100%;
  overflow: auto;
  margin: 0 10px;
  margin-bottom: 10px;
}

.export-button-container {
  width: 90%;
  margin: 4px auto;
  display: flex;
  justify-content: end;
  padding: 10px;
}

.export-button {
  border: 0.5px solid black;
  background-color: #9fa2a5;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  color: white;
}

.export-button:hover {
  background-color: #636668;
}
