/* Apply CSS reset to remove default margin, padding, and box-sizing behavior */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for the project component wrapper and flex container */
.project-component-flex,
.project-component-wrapper {
  height: 100%; /* Make the component wrapper and flex container fill the available height */
}

/* Styles for the project component wrapper */
.project-component-wrapper {
  padding: 20px; /* Add padding around the component wrapper */
  padding-top: 0; /* Remove top padding */
}

/* Styles for the project tab box */
.project-tab-box {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Adjust the height based on content */
  width: 100%; /* Make the tab box fill the available width */
  overflow-x: scroll;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 6px; /* Width of vertical scrollbar */
  height: 6px; /* Height of horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #dddddd; /* Color of the scrollbar thumb */
  border-radius: 3px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8; /* Color of the scrollbar thumb on hover */
}

.tab {
  text-wrap: nowrap;
}

.project-tab-list {
  padding-bottom: 8px;
}

/* Styles for the project section box */
.project-section-box {
  height: 65%; /* Set the height of the section box */
  width: 100%; /* Make the section box fill the available width */
  overflow: auto; /* Enable scrolling for overflow content */
  margin: 0 10px; /* Add horizontal margin */
  margin-bottom: 10px; /* Add bottom margin */
  padding-right: 5px; /* Add right padding */
}

/* Styles for the export button container */
.export-button-container {
  width: 90%; /* Set the width of the container */
  margin: 4px auto; /* Add margin */
  display: flex; /* Use flexbox for layout */
  justify-content: end; /* Align content to the end */
  padding: 10px; /* Add padding */
}

/* Styles for the export button */
.export-button {
  border: 0.5px solid black; /* Add a thin solid border */
  background-color: #007bff; /* Set the background color to a shade of blue */
  border-radius: 5px; /* Apply a border radius for rounded corners */
  cursor: pointer; /* Change the cursor to a pointer on hover */
  padding: 8px; /* Add padding */
  color: white; /* Set text color to white */
}

/* Hover effect for the export button */
.export-button:hover {
  background-color: #0056b3; /* Change the background color to a darker shade of blue on hover */
}

/* Scrollbar styles for the project section box */
.project-section-box::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.project-section-box::-webkit-scrollbar-track {
  background-color: #f9f9f9; /* Background color of the scrollbar track */
}

.project-section-box::-webkit-scrollbar-thumb {
  background-color: #bbb; /* Background color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.project-section-box::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Background color of the scrollbar thumb on hover */
}
