/* Styles for the escalation matrix table */
.escalation-matrix-table {
  height: 100%; /* Set table height to occupy full container */
  overflow: auto; /* Enable scrolling for overflow */
  width: 100%; /* Set table width to occupy full container */
}

/* Container for the escalation matrix table */
.escalation-matrix-table-container {
  margin: 10px; /* Add margin around the table container */
}

/* Container for the table */
.table-container {
  width: 100%; /* Set table container width to occupy full width */
}

/* Style for table headings, converting them to capitalized text */
.table-heading {
  text-transform: capitalize; /* Capitalize table headings */
}

/* Save button style */
.save-button {
  border: 0.5px solid black; /* Add a thin black border */
  background-color: #007bff; /* Set background color to blue */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Set cursor to pointer */
  padding: 10px; /* Add padding */
}

/* Hover effect for save button */
.save-button:hover {
  background-color: #0056b3; /* Darker blue background color on hover */
}

/* Scrollbar styles for the escalation matrix table */
.escalation-matrix-table::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar width */
}

/* Background color for scrollbar track */
.escalation-matrix-table::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}

/* Background color for scrollbar thumb */
.escalation-matrix-table::-webkit-scrollbar-thumb {
  background-color: #bbb; /* Light grey for scrollbar thumb */
  border-radius: 10px; /* Rounded corners for scrollbar thumb */
}

/* Background color for scrollbar thumb on hover */
.escalation-matrix-table::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Darker grey for scrollbar thumb on hover */
}
